@keyframes colorcycle {
  0% {
    background-color: #2589BD;
    left: 0px;
    top: 0px;
  }
  0% {
    color: black;
  }
  25% {
    background-color: orange;
    left: 0px;
    top: 0px;
  }
  25% {
    color: black;
  }
  50% {
    background-color: #E8C547;
    left: 200px;
    top: 0px;
  }
  50% {
    color: black;
  }
  75% {
    background-color: #33658A;
    left: 200px;
    top: 0px;
  }
  85% {
    background-color: #187795;
    left: 200px;
    top: 200px;
  }
  85% {
    color: black;
  }
  100% {
    background-color: #F6AE2D;
    left: 0px;
    top: 0px;
  }
  100% {
    color: #33658A;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  height: 800px;
  width: 100%;
  background-image: url(image-assets/packedthings.jpg);
}
nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: black;
  opacity: 0.85;
  z-index: 1;
}
nav a:link {
  padding: 20px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  color: #E8C547;
  text-decoration: none;
}
nav a:visited {
  color: #F6AE2D;
}
nav a:hover {
  animation-duration: 20s;
  animation-name: colorcycle;
}
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 10px;
  font-size: 17px;
}
nav h1 {
  color: #E8C547;
  position: relative;
  top: 20px;
  margin-left: 30px;
}
img {
  display: flex;
  width: 35%;
}
.main-content {
  display: inline-block;
}
.main-content .purpose {
  display: inline-block;
  position: relative;
  left: 1250px;
  border: 1px solid #187795;
  height: 500px;
  width: 600px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #187795;
  text-align: left;
}
.main-content p {
  position: relative;
  top: 150px;
  background-color: #187795;
}
