@keyframes colorcycle {
  0% {
    background-color: #2589BD;
    left: 0px;
    top: 0px;
  }
  0% {
    color: black;
  }
  25% {
    background-color: orange;
    left: 0px;
    top: 0px;
  }
  25% {
    color: black;
  }
  50% {
    background-color: #E8C547;
    left: 200px;
    top: 0px;
  }
  50% {
    color: black;
  }
  75% {
    background-color: #33658A;
    left: 200px;
    top: 0px;
  }
  85% {
    background-color: #187795;
    left: 200px;
    top: 200px;
  }
  85% {
    color: black;
  }
  100% {
    background-color: #F6AE2D;
    left: 0px;
    top: 0px;
  }
  100% {
    color: #33658A;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #2589BD;
  font-family: 'Ubuntu', sans-serif;
}
header {
  height: 800px;
  width: 100%;
  background-image: url(/image-assets/packedthings.jpg);
  background-size: 100%;
  border-bottom: 1px solid #33658A;
  opacity: 0.93;
}
header h1 {
  position: relative;
  color: #E8C547;
  font-size: 28px;
  padding-bottom: 80px;
  padding-left: 45px;
  text-shadow: 0 0 3px #33658A;
}
header .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #187795;
  height: 600px;
  width: 350px;
  margin-left: 13px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  opacity: 0.82;
  font-size: 18px;
  padding: 5px;
  text-align: left;
  text-shadow: 0 0 3px #33658A;
}
nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: black;
  opacity: 0.85;
  z-index: 1;
  margin-bottom: -15px;
}
nav a:link {
  padding: 20px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  color: #E8C547;
  text-decoration: none;
}
nav a:visited {
  color: #F6AE2D;
}
nav a:hover {
  animation-duration: 20s;
  animation-name: colorcycle;
}
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
  height: 23px;
}
nav button[type=submit] {
  margin-top: 8px;
  width: 100px;
  height: 35px;
}
nav h1 {
  color: #E8C547;
  position: relative;
  top: 20px;
  margin-left: 30px;
}
img {
  display: flex;
  width: 60%;
}
.main-content {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  height: 2000px;
}
.main-content .purpose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  padding: 5px;
  left: 1150px;
  top: 240px;
  height: 600px;
  width: 26%;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 3px #33658A;
}
.main-content h3 {
  justify-content: center;
  color: #E8C547;
  font-size: 28px;
  padding-bottom: 120px;
  padding-left: 130px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .purposeimg {
  position: relative;
  bottom: 400px;
  margin-bottom: 50px;
  margin-left: 10px;
  border-radius: 30px;
}
.main-content .functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  bottom: 230px;
  margin-left: 15px;
  width: 450px;
  height: 600px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .functions h3 {
  padding-left: 100px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .functionimg {
  position: relative;
  left: 650px;
  bottom: 850px;
  border-radius: 30px;
}
.main-content .apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  padding: 5px;
  left: 1150px;
  margin-left: 15px;
  padding-left: 15px;
  font-size: 18px;
  width: 450px;
  height: 600px;
  bottom: 720px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .apply h3 {
  padding-right: 50px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .applyimg {
  border-radius: 30px;
  position: relative;
  bottom: 1350px;
}
.testimony .karen {
  border-radius: 50%;
  width: 8%;
}
.testimony .Hoby {
  border-radius: 50%;
  width: 8%;
}
.testimony .Tyler {
  border-radius: 50%;
  width: 8%;
}
.testimony .Katie {
  border-radius: 50%;
  width: 8%;
}
