@keyframes colorcycle {
  0% {
    background-color: #2589BD;
    left: 0px;
    top: 0px;
  }
  0% {
    color: black;
  }
  25% {
    background-color: orange;
    left: 0px;
    top: 0px;
  }
  25% {
    color: black;
  }
  50% {
    background-color: #E8C547;
    left: 200px;
    top: 0px;
  }
  50% {
    color: black;
  }
  75% {
    background-color: #33658A;
    left: 200px;
    top: 0px;
  }
  85% {
    background-color: #187795;
    left: 200px;
    top: 200px;
  }
  85% {
    color: black;
  }
  100% {
    background-color: #F6AE2D;
    left: 0px;
    top: 0px;
  }
  100% {
    color: #33658A;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #2589BD;
  font-family: 'Ubuntu', sans-serif;
}
header {
  height: 800px;
  width: 100%;
  background-image: url(/image-assets/packedthings.jpg);
  background-size: 100%;
  border-bottom: 1px solid #33658A;
  opacity: 0.93;
}
header h1 {
  position: relative;
  color: #E8C547;
  font-size: 28px;
  padding-bottom: 80px;
  padding-left: 45px;
  text-shadow: 0 0 3px #33658A;
}
header .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #187795;
  height: 600px;
  width: 350px;
  margin-left: 13px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  opacity: 0.82;
  font-size: 18px;
  padding: 5px;
  text-align: left;
  text-shadow: 0 0 3px #33658A;
}
.about {
  background-image: url(/Image-assets/webdev.jpg);
  height: 600px;
  margin-top: 15px;
  background-size: 100%;
}
.about h2 {
  font-size: 60px;
  display: flex;
  position: relative;
  justify-content: center;
  color: #E8C547;
  text-shadow: 0 0 8px #33658A;
  top: 20px;
}
nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: black;
  opacity: 0.85;
  z-index: 1;
  margin-bottom: -15px;
}
nav a:link {
  padding: 20px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  color: #E8C547;
  text-decoration: none;
}
nav a:visited {
  color: #F6AE2D;
}
nav a:hover {
  animation-duration: 20s;
  animation-name: colorcycle;
}
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
  height: 23px;
}
nav button[type=submit] {
  margin-top: 8px;
  width: 100px;
  height: 35px;
}
nav h1 {
  color: #E8C547;
  position: relative;
  top: 20px;
  margin-left: 30px;
}
footer {
  height: 50px;
  font-size: 24px;
  color: #F6AE2D;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
img {
  display: flex;
  width: 60%;
}
.main-content {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  height: 2000px;
}
.main-content .purpose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  padding: 5px;
  left: 1150px;
  top: 240px;
  height: 600px;
  width: 26%;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 3px #33658A;
}
.main-content h3 {
  justify-content: center;
  color: #E8C547;
  font-size: 28px;
  padding-bottom: 120px;
  padding-left: 130px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .purposeimg {
  position: relative;
  bottom: 400px;
  margin-bottom: 50px;
  margin-left: 10px;
  border-radius: 30px;
}
.main-content .functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  bottom: 230px;
  margin-left: 15px;
  width: 450px;
  height: 600px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .functions h3 {
  padding-left: 100px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .functionimg {
  position: relative;
  left: 650px;
  bottom: 850px;
  border-radius: 30px;
}
.main-content .apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  padding: 5px;
  left: 1150px;
  margin-left: 15px;
  padding-left: 15px;
  font-size: 18px;
  width: 450px;
  height: 600px;
  bottom: 720px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .apply h3 {
  padding-right: 50px;
  text-shadow: 0 0 3px #33658A;
}
.main-content .applyimg {
  border-radius: 30px;
  position: relative;
  bottom: 1350px;
  margin-left: 10px;
}
.testimony {
  display: inline-block;
  position: relative;
  height: 1300px;
}
.testimony h2 {
  position: relative;
  font-size: 28px;
  color: #F6AE2D;
  bottom: 150px;
  left: 550px;
  text-shadow: 0 0 6px #33658A;
}
.testimony .reviewer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  height: 100px;
  border-radius: 40px;
  padding-left: 40px;
  left: 250px;
  bottom: 100px;
}
.testimony .reviewer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  height: 100px;
  border-radius: 40px;
  padding-left: 40px;
  left: 950px;
}
.testimony .reviewer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  height: 100px;
  border-radius: 40px;
  padding-left: 40px;
  height: 150px;
  left: 250px;
}
.testimony .reviewer4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  height: 100px;
  border-radius: 40px;
  padding-left: 40px;
  height: 150px;
  left: 950px;
}
.testimony .karen {
  position: relative;
  border-radius: 50%;
  width: 20%;
  left: 85px;
  bottom: 220px;
}
.testimony .Hoby {
  border-radius: 50%;
  width: 20%;
  position: relative;
  left: 800px;
  bottom: 120px;
}
.testimony .Tyler {
  border-radius: 50%;
  width: 20%;
  margin-left: 10px;
  position: relative;
  bottom: 150px;
  left: 85px;
}
.testimony .Katie {
  border-radius: 50%;
  width: 20%;
  position: relative;
  left: 800px;
  bottom: 150px;
}
.contacts {
  height: 800px;
}
.contacts h2 {
  font-size: 34px;
  color: #F6AE2D;
  position: relative;
  bottom: 100px;
  left: 750px;
}
.contacts input[type=text],
.contacts select,
.contacts textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #33658A;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contacts input[type=submit] {
  background-color: #E8C547;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 150px;
  width: 15%;
}
.contacts input[type=submit]:hover {
  background-color: #F6AE2D;
}
.contacts .container {
  border-radius: 5px;
  background-color: #579CB1;
  padding: 20px;
  width: 50%;
  position: relative;
  left: 400px;
}
.contacts .container i {
  position: relative;
  left: 200px;
  padding: 25px;
  top: 10px;
}
.AboutUs {
  display: block;
  position: relative;
  width: 100%;
  height: 6000px;
}
.AboutUs .Barbara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  position: relative;
  left: 1000px;
  width: 25%;
  top: 170px;
  padding-left: 15px;
}
.AboutUs .Barbara h2 {
  padding-left: 100px;
  color: #E8C547;
  font-size: 24px;
  padding-bottom: 20px;
  text-shadow: 0 0 5px darkblue;
}
.AboutUs .bar {
  position: relative;
  width: 40%;
  bottom: 400px;
  left: 100px;
  border-radius: 30px;
}
.AboutUs .barbarm {
  position: relative;
  bottom: 370px;
  left: 230px;
  font-size: 28px;
  text-shadow: 0 0 6px darkblue;
}
.AboutUs .barbarm a {
  text-decoration: none;
  color: #F6AE2D;
}
.AboutUs .barbarm a:visited {
  color: #F6AE2D;
}
.AboutUs .Loralie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  position: relative;
  left: 190px;
  width: 30%;
  bottom: 35px;
  height: 650px;
  padding-left: 15px;
}
.AboutUs .Loralie h2 {
  padding-left: 175px;
  color: #E8C547;
  font-size: 24px;
  padding-bottom: 40px;
  text-shadow: 0 0 5px darkblue;
}
.AboutUs .lor {
  width: 30%;
  position: relative;
  left: 1000px;
  bottom: 800px;
  border-radius: 30px;
}
.AboutUs .loralief {
  position: relative;
  bottom: 750px;
  left: 1050px;
  font-size: 28px;
  text-shadow: 0 0 6px darkblue;
}
.AboutUs .loralief a {
  text-decoration: none;
  color: #F6AE2D;
}
.AboutUs .loralief a:visited {
  color: #F6AE2D;
}
.AboutUs .Teddy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  position: relative;
  left: 1050px;
  width: 25%;
  bottom: 490px;
  padding-left: 15px;
}
.AboutUs .Teddy h2 {
  padding-left: 110px;
  color: #E8C547;
  font-size: 24px;
  padding-bottom: 40px;
  text-shadow: 0 0 5px darkblue;
}
.AboutUs .ted {
  width: 35%;
  position: relative;
  bottom: 1120px;
  left: 150px;
  border-radius: 30px;
}
.AboutUs .teddz {
  position: relative;
  bottom: 1110px;
  left: 150px;
  font-size: 28px;
  text-shadow: 0 0 6px darkblue;
}
.AboutUs .teddz a {
  text-decoration: none;
  color: #F6AE2D;
}
.AboutUs .teddz a:visited {
  color: #F6AE2D;
}
.AboutUs .Sam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  position: relative;
  left: 190px;
  width: 30%;
  bottom: 800px;
  padding-left: 15px;
}
.AboutUs .Sam h2 {
  padding-left: 170px;
  color: #E8C547;
  font-size: 24px;
  padding-bottom: 40px;
  text-shadow: 0 0 5px darkblue;
}
.AboutUs .samk {
  width: 35%;
  position: relative;
  left: 1000px;
  bottom: 1275px;
  border-radius: 30px;
}
.AboutUs .samu {
  position: relative;
  bottom: 1250px;
  left: 1000px;
  font-size: 28px;
  text-shadow: 0 0 6px darkblue;
}
.AboutUs .samu a {
  text-decoration: none;
  color: #F6AE2D;
}
.AboutUs .samu a:visited {
  color: #F6AE2D;
}
.AboutUs .michael {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  position: relative;
  left: 1050px;
  width: 25%;
  bottom: 950px;
  padding-left: 15px;
}
.AboutUs .michael h2 {
  padding-left: 120px;
  color: #E8C547;
  font-size: 24px;
  padding-bottom: 40px;
  text-shadow: 0 0 5px darkblue;
}
.AboutUs .mic {
  width: 35%;
  position: relative;
  bottom: 1500px;
  left: 150px;
  border-radius: 30px;
}
.AboutUs .micha {
  position: relative;
  bottom: 1480px;
  left: 205px;
  font-size: 28px;
  text-shadow: 0 0 6px darkblue;
}
.AboutUs .micha a {
  text-decoration: none;
  color: #F6AE2D;
}
.AboutUs .micha a:visited {
  text-decoration: none;
  color: #F6AE2D;
}
.AboutUs .Alyssa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #33658A;
  height: 500px;
  width: 350px;
  margin-left: 2px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #579CB1;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  text-shadow: 0 0 3px #33658A;
  position: relative;
  left: 190px;
  width: 30%;
  bottom: 1250px;
  padding-left: 15px;
}
.AboutUs .Alyssa h2 {
  padding-left: 150px;
  color: #E8C547;
  font-size: 24px;
  padding-bottom: 40px;
  text-shadow: 0 0 5px darkblue;
}
.AboutUs .aly {
  width: 35%;
  position: relative;
  left: 1000px;
  bottom: 1800px;
  border-radius: 30px;
}
.AboutUs .alys {
  position: relative;
  bottom: 1780px;
  left: 1100px;
  font-size: 28px;
  text-shadow: 0 0 6px darkblue;
}
.AboutUs .alys a {
  text-decoration: none;
  color: #F6AE2D;
}
.AboutUs .alys a:visited {
  color: #F6AE2D;
}
.abcontacts {
  height: 800px;
}
.abcontacts h2 {
  font-size: 34px;
  color: #F6AE2D;
  position: relative;
  bottom: 100px;
  left: 470px;
}
.abcontacts input[type=text],
.abcontacts select,
.abcontacts textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #33658A;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.abcontacts input[type=submit] {
  background-color: #E8C547;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 150px;
  width: 15%;
}
.abcontacts input[type=submit]:hover {
  background-color: #F6AE2D;
}
.abcontacts .container {
  border-radius: 5px;
  background-color: #579CB1;
  padding: 20px;
  width: 50%;
  position: relative;
  left: 400px;
}
.abcontacts .container i {
  position: relative;
  left: 200px;
  padding: 25px;
  top: 10px;
}
