.AboutUs{
    display: block;
    position: relative;
    width: 100%;
    
    .Barbara{
        .boxed;
        position: relative;
        left: 1000px;
        width: 25%;
        top: 170px;
    }

        .bar{
            position: relative;
            width: 40%;
            bottom: 400px;
            left: 100px;
            border-radius: 30px;

        }

        .barbarm{
            position: relative;
            bottom: 370px;
            left: 230px;
            font-size: 28px;
            text-shadow: 0 0 6px darkblue;
        }

            .barbarm a{
                text-decoration: none;
                color: #F6AE2D;
            }

            .barbarm a:visited{
                color: #F6AE2D;
            }

    .Loralie{
        .boxed;
        position: relative;
        left: 190px;
        width: 30%;
        bottom: 35px;
        height: 650px;
        
    }

    .lor{
        width: 30%;
        height: 60%;
        position: relative;
        left: 1000px;
        bottom: 800px;
        border-radius: 30px;
    }

        .loralief{
            position: relative;
                bottom:750px;
                left: 1050px;
                font-size: 28px;
                text-shadow: 0 0 6px darkblue;
        }

        .loralief a{
            text-decoration: none;
            color: #F6AE2D;
        }

        .loralief a:visited{
            color: #F6AE2D;
        }

    .Teddy{
        .boxed;
        position: relative;
        left: 1000px;
        width: 25%;
        bottom: 550px;
    }

    .ted{
        width: 30%;
        position: relative;
        bottom: 1120px;
        left: 150px;
        border-radius: 30px;

    }

    .Sam{
        .boxed;
    }

    .samk{
        width: 35%;
    }

    .michael{
        .boxed;
    }

    .mic{
        width: 35%;
    }

    .Alyssa{
        .boxed;
    }

    .aly{
        width: 35%;
    }
}