header{
    // display: flex;
    height: 800px;
    width: 100%;
    background-image: url(/image-assets/packedthings.jpg);
    background-size: 100%;
    border-bottom: 1px solid @head-color;
    opacity: 0.93;


    h1{
        position: relative;
        color: @accent-color;
        font-size: 28px;
        padding-bottom: 80px;
        padding-left: 45px;
        text-shadow: 0 0 3px @head-color;
    }


    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        border: 1px solid @secondary-color;
        height: 600px;
        width: 350px;
        margin-left: 13px;
        margin-top: 15px;
        border-radius: 10px;
        background-color: @box-color;
        text-align: left;
        opacity: 0.82;
        font-size: 18px;
        padding: 5px;
        text-align: left;
        text-shadow: 0 0 3px @head-color;
    }

   
};
