 
img{
    display: flex;
    width: 60%;
}

@media @desktop{


.main-content{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    height: 2000px;
    @media @tablet{
        height: 1700px;
    }
   


    .purpose{
        .boxed;
        left: 1150px;
        top: 240px;
        height: 600px;
        width: 26%;
        margin-left: 20px;
        margin-top: 10px;
        padding-left: 15px;
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
        text-shadow: 0 0 3px @head-color;
        @media @laptop{
            left: 850px;
            height: 500px;
            top: 110px;    
        }
        @media @tablet{
            left: 480px;
            width: 35%;
            height: 400px;
            top: 20px;
      
    }
    }
    h3{
      
        justify-content: center;
        color: @accent-color;
        font-size: 28px;
        padding-bottom: 120px;
        padding-left: 130px;
        text-shadow: 0 0 5px darkblue;
        @media @laptop{
            padding-left: 100px;        
        }
        @media @tablet{
            padding-left: 70px;
            padding-bottom: 50px;
        }
    }

    .purposeimg{
        position: relative;
        bottom: 400px;
        margin-bottom: 50px;
        margin-left: 10px;
        border-radius: 30px;
        @media @laptop{
            width: 50%;       
        }

        @media @tablet{
            bottom: 350px;
        }
    }


    .functions{
       .boxed;
        bottom: 230px;
        margin-left: 15px;
        width: 450px;
        height: 600px;
        text-shadow: 0 0 3px @head-color;
        @media @laptop{
         bottom: 300px;           
        }

        @media @tablet{
            height: 450px;
            width: 350px;
            bottom: 250px;
            padding-left: 15px;
        }
       
    }

    .functions h3{
        padding-left: 100px;
        text-shadow: 0 0 3px @head-color;
    }

     
    .functionimg{
        position: relative;
        left: 650px;
        bottom: 850px;
        border-radius: 30px;
        @media @laptop{
         width: 50%;           
        }

        @media @tablet{
            left: 500px;
            width: 40%;
            bottom: 680px;

        }
    
    }


    .apply{
        .boxed;
        left: 1150px;
        margin-left: 15px;
        padding-left: 15px;
        font-size: 18px;
        width: 450px;
        height: 600px;
        bottom: 720px;
        text-shadow: 0 0 3px @head-color;
        @media @laptop{
            left: 800px;    
    }
    @media @tablet{
        left: 500px;
        width: 300px;
        height: 450px;
        bottom: 500px;   
    }

               
    }
    .apply h3{
        padding-right: 50px;
        text-shadow: 0 0 3px @head-color;
        @media @laptop{
               padding-right: 65px;
        }
        
    }

    .applyimg{
        border-radius: 30px;
        position: relative;
        bottom: 1350px;
        margin-left: 10px;
        @media @laptop{
         width: 50%;
         bottom: 1250px;      
        }
        @media @tablet{
            bottom: 900px;
        }
    }

    

}

}

@media @desktop{

.testimony{
    display: inline-block;
    position: relative;
    height: 1300px;
    

    h2{
        position: relative;
        font-size: 28px;
        color: @secondary-accent;
        bottom: 150px;
        left: 550px;
        text-shadow: 0 0 6px @head-color;
        @media @laptop{
         left: 450px;      
        }
        @media @tablet{
            left: 250px;
        }
    }

    
    .reviewer1{
      .reviewed;
      left: 250px;
      bottom: 100px;
    }

    .reviewer2{
        .reviewed;
        left: 950px;
        @media @tablet{
            left: 250px;

        }
    }

    .reviewer3{
        .reviewed;
        height: 150px;
        left: 250px;
        
    }

    .reviewer4{
        .reviewed;
        height: 150px;
        left: 950px;
        @media @tablet{
            left: 250px;
        }
        
    }

    .karen{
        position: relative;
        border-radius: 50%;
        width: 20%;
        left: 85px;
        bottom: 220px;

    }

    .Hoby{
        border-radius: 50%;
        width: 20%;
        position: relative;
        left: 800px;
        bottom: 120px;
        @media @tablet{
            left: 85px;
        }
    }


    .Tyler{
        border-radius: 50%;
        width: 20%;
        margin-left: 10px;
        position: relative;
        bottom: 150px;
        left: 85px;
    }

    .Katie{
        border-radius: 50%;
        width: 20%;
        position: relative;
        left: 800px;
        bottom: 150px;
        @media @tablet{
        left: 85px;
        }
       
    }


}

}

@media @desktop{


     .contacts{

        height:800px;
        


        h2{
            font-size: 34px;
            color: @secondary-accent;
            position: relative;
            bottom: 100px;
            left: 750px;
            @media @laptop{
             left: 550px;  
            }
            @media @tablet{
                left: 370px;
                bottom: 150px;
            }
        }

        input[type=text], select, textarea {
            width: 100%; 
            padding: 12px; 
            border: 1px solid @head-color;
            border-radius: 4px; 
            box-sizing: border-box; 
            margin-top: 6px; 
            margin-bottom: 16px; 
            resize: vertical 
          }
          
        
          input[type=submit] {
            background-color: @accent-color;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            left: 150px;
            width: 15%;
            @media @tablet{
                left: 70px;
                }
          }
          
          
          input[type=submit]:hover {
            background-color: @secondary-accent;
          }
          
          
          .container {
            border-radius: 5px;
            background-color: @box-color;
            padding: 20px;
            width: 50%;
            position: relative;
            left: 400px;
            @media @laptop{
             left: 300px;  
            }
            @media @tablet{
                left: 150px;
                width: 65%;
            }
           
          }

          .container i{
              position: relative;
              left: 200px;
              padding: 25px;
              top: 10px;
              @media @tablet{
                left: 90px;
            }
          }
     }   

}