img{
    display: flex;
    width: 35%;
}

.main-content{
    display: inline-block;
   


    .purpose{
        display: inline-block;
        position: relative;
        left: 1250px;
        border: 1px solid @secondary-color;
        height: 500px;
        width: 600px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: @secondary-color;
        text-align: left;
    }

        p{
            position: relative;
            top: 150px;
            background-color: @secondary-color;
            
        }
}

