// General colour variables
@base-color: #2589BD;
@head-color: #33658A;
@accent-color:#E8C547;
@secondary-color: #187795;
@secondary-accent: #F6AE2D;

// Navigation Animation
@keyframes colorcycle {
    0%   {background-color: @base-color; left:0px; top:0px;}
    0%   {color: black;}
    25%  {background-color: orange; left: 0px; top:0px;}
    25%  {color: black;}
    50%  {background-color:@accent-color; left:200px; top:0px;}
    50%  {color: black;}
	  75% {background-color: @head-color; left:200px; top:0px;}
    85% {background-color: @secondary-color; left:200px; top:200px;}
    85% {color: black;}
    100% {background-color:@secondary-accent; left:0px; top:0px;}
    100% {color: @head-color;}
  };
// Nav slide
  @keyframes slidein{ 
	from{
	  margin-left: 100%;
	 width: 100%;
	}
	
	to{
	  margin-left: 0%;
	width: 100%;
	}
  };


  // Media Query layouts

  @mobile: ~"( max-width: 500px )";

  @tablet: ~"( max-width: 900px )";

  @laptop: ~"( max-width: 1440px )";

  @desktop: ~"( max-width: 1680px )";

  @XLscreen: ~"( max-width: 1920px )";
